/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

body{
    background-color: #2d2d2d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Inconsolata", monospace;
}

.markdown pre{
    background-color: #1b1b1b !important;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 2rem;
    max-height: 500px;
}

.markdown{
    width: 60%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(95, 95, 95);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

/* Importing Bootstrap SCSS file. */